.comment__header {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.6rem 1.6rem 2rem;

  @include tablet {
    font-size: 3.6rem;
    font-weight: 600;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    margin-left: 3rem;
  }

  @include desktop {
    margin-left: 10rem;
    font-size: 3.6rem;
  }
}

.comment {
  width: 100%;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 90%;
  }

  &__box {
    display: flex;
    gap: 2rem;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
    margin-top: 1.6rem;
    margin-left: 1.6rem;
    margin-right: 1rem;
    border-top: 1px solid silver;

    @include tablet {
      margin: 0rem 10rem;
      width: 68%;
    }

    @include desktop {
      margin: 0rem 32rem;
      width: 50%;
    }
  }

  &__name {
    padding-bottom: 1rem;

    @include tablet {
      padding: 0;
      max-width: 100%;
    }
  }

  &__date {
    color: $color-5;
    font-size: 1.3rem;
    text-align: center;
  }

  &__name-txt {
    color: $color-1;
    font-weight: 600;
    font-size: 1.3rem;

    @include tablet {
      font-size: 1.3rem;
      line-height: 3.2rem;
    }
  }

  &__body-txt {
    font-size: 1.3rem;
    line-height: 18px;
    word-wrap: break-word;

    @include tablet {
      font-size: 1.4rem;
      word-wrap: break-word;
    }
  }
}

// .comment__box:nth-child(3) {
//   margin-left: 1.6rem;
//   border-bottom: 1px solid $color-5;

//   @include tablet {
//     margin: 0 10rem;
//   }

//   @include desktop {
//     margin: 0 32rem;
//   }
// }

.comment__pic {
  width: 50px;
  height: 50px;
  background-color: $color-5;
  border-radius: 60px;
  padding-right: 5rem;

  @include tablet {
    margin-top: 0.4rem;
  }
}

.comment__name {
  display: flex;
  justify-content: space-between;
}

.comment__form-container {
  @include tablet {
    padding-bottom: 3rem;
    padding-left: 7rem;
    margin-right: 14rem;
  }

  @include desktop {
    padding-left: 17rem;
    margin-right: 20rem;
  }
}

.comment__container {
  display: flex;
  gap: 2rem;

  @include desktop {
    justify-content: center;
    padding-right: 6rem;
  }
}

.comment__picture {
  width: 50px;
  height: 50px;
  border-radius: 60px;
  margin-left: 1.6rem;

  @include tablet {
    margin-top: 2.2rem;
  }
}

.comment__name-container {
  padding-bottom: 1.6rem;
}

#comments__name {
  width: 68vw;
  height: 10vw;
  padding-left: 1rem;
  margin-top: 0.7rem;
  background-color: $color-4;
  border: 1px solid $color-5;
  border-radius: 3px;

  @include tablet {
    width: 60vw;
    height: 7vw;
  }

  @include desktop {
    width: 40vw;
    height: 5rem;
  }
}

#comments__text {
  padding-bottom: 4rem;
  padding-left: 1rem;
  width: 68vw;
  height: 20vw;
  margin-top: 0.7rem;
  background-color: $color-4;
  border: 1px solid $color-5;
  border-radius: 3px;
  font-size: 1.3rem;

  @include tablet {
    width: 60vw;
    height: 10rem;
  }

  @include desktop {
    width: 40vw;
    height: 10rem;
  }
}

.comment__button {
  background-color: $color-1;
  margin-top: 1.6rem;
  height: 4rem;
  width: 100%;
  text-align: center;
  padding: left 4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;

  @include tablet {
    width: 40%;
    margin-left: 28rem;
    margin-top: 2rem;
  }

  @include desktop {
    margin-left: 30.8rem;
  }
}

.comment__name-text {
  font-size: 1.4rem;
  color: $color-5;
}

input::placeholder {
  color: black;

  @include tablet {
    font-size: 1.4rem;
  }
}

.comment__text-div {
  width: 70%;

  @include tablet {
    max-width: 90%;
  }
}

@include tablet {
  .comment__text-div {
    width: 100%;
  }
}
@include tablet {
  .comment__date-p {
    padding-top: 0.3rem;
  }
}
