* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.hero {
  background: url("/assets/images/hero-shows.jpg") rgba(50, 50, 50, 0.5);
  background-blend-mode: hue;
  background-size: cover;
  background-position: center;
}
.hero__para {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 32px;
  padding: 2.4rem 1.6rem 1.6rem;
}
@media (min-width: 768px) {
  .hero__para {
    font-size: 2.4rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
    padding-top: 10rem;
  }
}
@media (min-width: 1280px) {
  .hero__para {
    font-size: 3.6rem;
    position: absolute;
    top: 24rem;
    left: 6rem;
  }
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 22rem;
}
@media (min-width: 768px) {
  .hero__wrapper {
    max-width: 360%;
    height: 40rem;
    padding: 0rem;
  }
}
@media (min-width: 1280px) {
  .hero__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 130rem;
    height: 80rem;
  }
}
.hero__header {
  color: #ffffff;
  font-weight: 700;
  line-height: 32px;
  font-weight: 600;
  font-size: 2.4rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .hero__header {
    font-weight: 600;
    font-size: 6rem;
    line-height: 6.8rem;
    padding-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    margin-left: 6rem;
  }
}
.hero__song-container {
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media (min-width: 768px) {
  .hero__song-container {
    width: 52%;
    padding-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .hero__song-container {
    margin-right: 11rem;
    width: 37%;
  }
}
.hero__song {
  border-radius: 3px;
  background-color: white;
  width: 100%;
  height: 100px;
}
@media (min-width: 768px) {
  .hero__song {
    margin-top: 2rem;
    width: 110%;
    height: 15rem;
  }
}

.shows {
  width: 100%;
}
@media (min-width: 768px) {
  .shows {
    padding-left: 4.7rem;
    padding-right: 4.7rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    margin-left: 35rem;
    width: 70%;
    padding: 6rem 3rem;
  }
}
.shows__heading {
  font-size: 2.4rem;
  padding: 3rem 0.9rem 1rem;
  font-weight: 600;
}
@media (min-width: 1280px) {
  .shows__heading {
    position: absolute;
    left: 10rem;
    font-size: 4.6rem;
    top: 89rem;
  }
}
.shows__card {
  font-size: 1.4rem;
  border-bottom: 1px solid #afafaf;
  width: 100%;
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media (min-width: 768px) {
  .shows__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0rem;
    width: 100%;
  }
}
.shows__date-para {
  color: #afafaf;
  padding-bottom: 0.5rem;
  padding-top: 1.6rem;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .shows__date-para {
    padding: 0rem;
  }
}
.shows__date-para2 {
  font-weight: 600;
  padding-bottom: 1.6rem;
  font-size: 1.4rem;
}
.shows__venue-para {
  color: #afafaf;
}
.shows__venue-para2 {
  font-weight: 600;
  color: black;
  padding: 0.5rem 0rem 1.6rem 0rem;
}
.shows__location-para {
  color: #afafaf;
}
.shows__location-para2 {
  font-weight: 600;
  padding: 0.5rem 0rem 1.6rem 0rem;
}
.shows__button {
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  border-radius: 5px;
  padding: 1rem 0rem;
  font-family: "avenir next";
}
@media (min-width: 768px) {
  .shows__button {
    width: 25%;
    height: 40px;
  }
}
@media (min-width: 1280px) {
  .shows__button {
    width: 20%;
  }
}

.shows__heading {
  padding-right: 0rem;
}

.shows__card:hover {
  background-color: #fafafa;
}

.shows__card.active {
  background-color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */